<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-sm-12 col-12 container_contactUs-info">
           <h3>Infomation About Us</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque ultrices mattis aliquam, malesuada diam est. Malesuada sem tristique amet erat vitae eget dolor lobortis. Accumsan faucibus vitae lobortis quis bibendum quam.</p>
           <div>
               <i class="bi bi-circle-fill"></i>
               <i class="bi bi-circle-fill"></i>
               <i class="bi bi-circle-fill"></i>
           </div>
       </div>
        <div class="col-xl-6 col-lg-6 col-sm-12 col-12 container_contactUs-contactWay" >
           <h3>Contact Way</h3>
           <div class="row">
               <div class="col-xl-6 icon-cw">
                   <i class="bi bi-circle-fill icon-cw-1"></i>
                   <span>Tel: 877-67-88-99</span>
               </div>
               <div class="col-xl-6 icon-cw">
                   <i class="bi bi-circle-fill icon-cw-2"></i>
                   <span>Support Forum</span>
               </div>
               <div class="col-xl-6 icon-cw">
                   <i class="bi bi-circle-fill icon-cw-3"></i>
                   <span>20 Margaret st, London</span>
               </div>
               <div class="col-xl-6 icon-cw">
                   <i class="bi bi-circle-fill icon-cw-4"></i>
                   <span>Free standard shipping</span>
               </div>
           </div>
       </div>
       <div class="col-xl-6 col-lg-6 col-sm-12 col-12 container_contactUs-getInTouch">
            <div class="row">
                <h3>Get In Touch</h3>
                <div class="col-xl-12">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque ultrices  tristique amet erat vitae eget dolor los vitae lobortis quis bibendum quam.</span>
                </div>
                <div class="col-xl-12 container_contactUs-GIT">
                   <form class="row g-3">
                       <div class="col-md-6">
                         
                         <input type="email" class="form-control" id="inputEmail4" placeholder="Your Name">
                       </div>
                       <div class="col-md-6">
                         
                         <input type="password" class="form-control" id="inputPassword4" placeholder="Your Email">
                       </div>
                       <div class="col-12">
                         <input type="text" class="form-control" id="inputAddress" placeholder="Subject" >
                       </div>

                       <div class="col-12 col-xl-12">
                           <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="write some thing"></textarea>
                       </div>
                       <div class="col-12">
                           <button type="submit" class="btn btn-primary">Send email</button>
                       </div>
                       
                     </form>
                </div>
            </div>
       </div>
       <div class="col-xl-6 col-lg-6 col-sm-12 col-12 container_contactUs-img">
            <img src="http://micxm.vn/blog/wp-content/uploads/2018/05/Contact-center-l%C3%A0-g%C3%AC.png" alt="">
       </div>
    </div>
</div>