<header class= "header-content">
  <div class="row header_pc g-0">
    <div class="col-xl-12 col-lg-12 header_notify">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-4 col-lg-5 col-md-5">
            <div class="row justify-content-between align-items-center">
              <div class="col-xl-6 col-lg-7 col-7 col-sm-7 header_email">
                <i class="far fa-envelope"></i>
                <span>mhhasanul@gmail.com</span>
              </div>

              <div class="col-xl-4 col-lg-4 col-4 col-sm-4 header_phone align-items-center">
                <img src="../../../assets/image/bx_bx-phone-call.png" width="16px" height="16px" />
                <span>(12345)67890</span>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-5 col-md-5 header_notifys">
            <div class="header_notifys-content row g-0">
              <div class="g-0-r col-xl-11-4 col-lg-2">
                <span>English</span>
                <i class="fas fa-chevron-down"></i>
              </div>

              <div class="g-0-r col-xl-11-4 col-lg-2">
                <span>USD</span>
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="g-0-r col-xl-11-4 col-lg-2">
                <span>Login</span>
                <i class="far fa-user"></i>
              </div>

              <div class="g-0-r col-xl-11-4 col-lg-2">
                <span>Wishlist</span>
                <i class="far fa-heart"></i>
              </div>

              <div class="col-xl-12-1 col-lg-2 icon-cart-notifys">
                <i class="fas fa-shopping-cart"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 col-lg-12 header_navigation">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-xl-7 col-lg-7 col-7 col-sm-7">
            <div class="row justify-content-between align-items-center nav-content">
              <div class="col-xl-2 col-lg-2 col-1 col-sm-1">
                <h3 class="nav-logo">Hekto</h3>
              </div>
              <div class="col-xl-9 col-lg-9 col-9 col-sm-9">
                <div class="row justify-content-between">
                  <a
                    routerLink="/blog_page"
                    class="
                      active-link
                      col-xl-2 col-lg-2 col-2 col-sm-2
                      g-0-r
                      header_notify-homeTitle
                    "
                  >
                    <span>Home</span>
                    <i class="fas fa-chevron-down"></i>
                  </a>

                  <a
                    routerLink="/single_blog"
                    class="col-xl-2 col-lg-2 col-2 col-sm-2"
                  >
                    <span>Page</span>
                  </a>

                  <a
                    routerLink="/about_us"
                    class="col-xl-2 col-lg-2 col-2 col-sm-2"
                  >
                    <span>Product</span>
                  </a>

                  <a
                    routerLink="/contact_us"
                    class="col-xl-2 col-lg-2 col-2 col-sm-2"
                  >
                    <span>Blog</span>
                  </a>

                  <a
                    routerLink="/faq_page"
                    class="col-xl-2 col-lg-2 col-2 col-sm-2"
                  >
                    <span>Shop</span>
                  </a>

                  <a
                    routerLink="/login"
                    class="col-xl-2 col-lg-2 col-2 col-sm-2"
                  >
                    <span>Contact</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-3 col-sm-3 header_notify-search">
            <div class="input-group">
              <input
                type="text"
                class="form-control search-input"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary button-addon2"
                type="button"

              >
              <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--For Mobie-->
  <div class="header_category-row row justify-content-between g-0">
    <div class="header_category col-md-3 col-xs-3 col-3">
      <input
        type="checkbox"
        id="mobie_check"
        class="mobie_check"
        hidden
      />
      <label for="mobie_check">
        <i class="bi bi-list icon-list"></i>
      </label>

      <h2>Hekto</h2>

      <div class="header_category-notify">
        <div class="row">
          <div class="col-12 header_mobie-close">
            <label for="mobie_check">
              <i class="bi bi-x"></i>
            </label>
          </div>

          <div class="col-12 header_mobie-navigation">
            <div class="row">
              <a
                routerLink="/blog_page"
                class="active-link col-12 header_notify-homeTitle"
                routerLinkActive="active"
              >
                <span>Home</span>
                <i class="bi bi-chevron-down"></i>
              </a>

              <a routerLink="/single_blog" class="col-12">
                <span>Page</span>
              </a>

              <a routerLink="/about_us" class="col-12">
                <span>Product</span>
              </a>

              <a routerLink="/contact_us" class="col-12">
                <span>Blog</span>
              </a>

              <a routerLink="/faq_page" class="col-12">
                <span>Shop</span>
              </a>

              <a routerLink="/login" class="col-12">
                <span>Contact</span>
              </a>
              <div class="col-12 border_bottom"></div>
            </div>
          </div>

          <div class="col-12 header_mobie-choice">
            <div class="row">
              <div class="col-12">
                <span>English</span>
                <i class="bi bi-chevron-down"></i>
              </div>

              <div class="col-12">
                <span>USD</span>
                <i class="bi bi-chevron-down"></i>
              </div>
              <div class="col-12">
                <span>Login</span>
                <i class="bi bi-person"></i>
              </div>

              <div class="col-12">
                <span>Wishlist</span>
                <i class="bi bi-heart"></i>
              </div>

              <div class="border_bottom"></div>
            </div>
          </div>

          <div class="col-12 header_mobie-notify">
            <div class="row">
              <div class="col-12">
                <i class="bi bi-envelope"></i>
                <span>nguyenvanthang@gmial.com</span>
              </div>

              <div class="col-12">
                <i class="bi bi-telephone-fill"></i>
                <span>032123456</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <label for="mobie_check" class="nav-overlay"></label>

    </div>

    <div class="header_category-tool col-xl-2 col-lg-2 col-md-2 col-xs-1 col-2">
      <label for="nav-mobie-input-s" class="icon_mobie-search">
        <i class="bi bi-search"></i>
      </label>
      <input
        type="checkbox"
        id="nav-mobie-input-s"
        class="nav-input-s"
        hidden
      />
      <i class="bi bi-cart4 icon_mobie-cart"></i>

      <div class="header_mobie-overlay-search">
        <div class="row justify-content-around align-items-center">
          <div class="col-10">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
              >
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
          <div class="col-1">
            <label for="nav-mobie-input-s">
              <i class="bi bi-x"></i>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


