<header>
        
  <div class="row header_pc">
      <div class="col-xl-12 col-lg-12 header_notify">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-xl-5 col-lg-5">
                      <div class="row justify-content-between align-items-center">
                          <div class="col-xl-6 col-lg-6 header_email">
                              <i class="bi bi-envelope"></i>
                              <span>nguyenvanthang@gmial.com</span>
                          </div>

                          <div class="col-xl-4 col-lg-4">
                              <i class="bi bi-telephone-fill"></i>
                              <span>032123456</span>
                          </div>
                      </div>
                  </div>

                  <div class="col-xl-5 col-lg-5">
                      <div class="row justify-content-between align-items-center">

                          <div class="g-0-r col-xl-11-4 col-lg-2">
                              <span>English</span>
                              <i class="bi bi-chevron-down"></i>
                          </div>
          
                          <div class="g-0-r col-xl-11-4 col-lg-2">
                          <span>USD</span>
                          <i class="bi bi-chevron-down"></i>
                          </div>
                          <div class="g-0-r col-xl-11-4 col-lg-2">
                          <span>Login</span>
                          <i class="bi bi-person"></i>
                          </div>
          
                          <div class="g-0-r col-xl-11-4 col-lg-2">
                          <span>Wishlist</span>
                          <i class="bi bi-heart"></i>
                          </div>
          
                          <div class="col-xl-12-1 col-lg-2">
                          <i class="bi bi-cart4"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-12 col-lg-12 header_navigation">
          <div class="container">
              <div class="row justify-content-between align-items-center">
                  <div class="col-xl-7 col-lg-7">
                      <div class="row justify-content-between align-items-center">
                          <div class="col-xl-2 col-lg-2">
                              <h3>Hekto</h3>
                          </div>
                          <div class="col-xl-8 col-lg-8">
                              <div  class="row justify-content-between"> 
                                  <a href="/" class="active-link col-xl-2 col-lg-2 g-0-r header_notify-homeTitle">
                                      
                                      <span>Home</span>
                                      <i class="bi bi-chevron-down"></i>
                                  </a>
                              
                                  <a href="/about" class="col-xl-2 col-lg-2">
                                      
                                      <span>Page</span>
                                  </a>
          
                                  <a href="/" class="col-xl-2 col-lg-2">
                                      
                                      <span>Product</span>
                                  </a>
          
                                  <a href="/" class="col-xl-2 col-lg-2">
                                      
                                      <span>Blog</span>
                                  </a>
          
                                  <a href="/" class="col-xl-2 col-lg-2">
                                      
                                      <span>Shop</span>
                                  </a>
          
                                  <a href="/" class="col-xl-2 col-lg-2">
                                      
                                      <span>Contact</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 header_notify-search">
                      <div class="input-group mb-3">
                          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2"> <i class="bi bi-search"></i></button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
</div>
<!--For Mobie-->
<div class="header_category-row row justify-content-between">

  <div class="header_category  col-md-3 col-xs-3 col-3">
    <label for="nav-mobie-input">
      <i class="bi bi-list icon-list"></i>
    </label>
    
    <h2>Hekto</h2>

    <input type="checkbox" id="nav-mobie-input" class="nav-input" hidden/>

    <div class="header_category-notify">
        <div class="row">
            <div class="col-12 header_mobie-close">
              <label for="nav-mobie-input">
                  <i class="bi bi-x"></i>
                </label>
            </div>

            <div class="col-12 header_mobie-navigation">
              <div class="row">
                  <a href="/" class="active-link col-12 header_notify-homeTitle">
                                      
                      <span>Home</span>
                      <i class="bi bi-chevron-down"></i>
                  </a>
              
                  <a href="/about" class="col-12">
                      
                      <span>Page</span>
                  </a>

                  <a href="/" class="col-12">
                      
                      <span>Product</span>
                  </a>

                  <a href="/" class="col-12">
                      
                      <span>Blog</span>
                  </a>

                  <a href="/" class="col-12">
                      
                      <span>Shop</span>
                  </a>

                  <a href="/" class="col-12">
                      
                      <span>Contact</span>
                  </a>
                  <div class="col-12 border_bottom"></div>
              </div>
            </div>

            <div class="col-12 header_mobie-choice">
              <div class="row">
                  <div class="col-12">
                      <span>English</span>
                      <i class="bi bi-chevron-down"></i>
                  </div>
  
                  <div class="col-12">
                      <span>USD</span>
                      <i class="bi bi-chevron-down"></i>
                  </div>
                  <div class="col-12">
                      <span>Login</span>
                      <i class="bi bi-person"></i>
                  </div>
  
                  <div class="col-12">
                      <span>Wishlist</span>
                      <i class="bi bi-heart"></i>
                  </div>

                  <div class="border_bottom"></div>
  
              </div>
            </div>

            <div class="col-12 header_mobie-notify">
                <div class="row">
                  <div class="col-12">
                      <i class="bi bi-envelope"></i>
                      <span>nguyenvanthang@gmial.com</span>
                  </div>

                  <div class="col-12">
                      <i class="bi bi-telephone-fill"></i>
                      <span>032123456</span>
                  </div>
                </div>
              
            </div>
        </div>
      
      
    </div>

    <label for="nav-mobie-input" class="nav-overlay"></label >
  </div>

  <div class="header_category-tool col-xl-2 col-lg-2 col-md-2 col-xs-1 col-2">
      <label for="nav-mobie-input-s" class="icon_mobie-search">
          <i class="bi bi-search "></i>
      </label>
    <input type="checkbox" id="nav-mobie-input-s" class="nav-input-s" hidden/>
    <i class="bi bi-cart4 icon_mobie-cart"></i>

    <div class="header_mobie-overlay-search">
      <div class="row justify-content-around align-items-center">
          <div class="col-10">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2"> <i class="bi bi-search"></i></button>
              </div>
          </div>
          <div class="col-1">
            <label for="nav-mobie-input-s">
                <i class="bi bi-x"></i>
              </label>
          </div>
      </div>
      
    </div>
  </div>

</div>
</header>