<div class="container product-list">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>

           <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>

           <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>

           <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>
       </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>

           <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>

           <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>

           <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>
       </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>

           <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>

           <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h5 class="card-title">Cantilever chair</h5>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>

           <div class=" col-md-3 col-xl-3">
             <div class="card">

               <div class="background">
                 <div class="user-action">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-heart"></i>
                   <i class="fas fa-search-plus"></i>
                 </div>
                 <img src="../../../assets/image/image 1168.png" class="card-img-top product-img" alt="...">

               </div>
               <div class="view-detail">
                 <p><button class="view-detail-button">View Details</button></p>
               </div>
               <div class="card-body">
                 <h4 class="card-title">Cantilever chair</h4>
                 <div class="select-color">
                     <div class="index1">

                     </div>
                     <div class="index2">

                     </div>
                     <div class="index3">

                     </div>
                 </div>
                 <h5>Code - Y523201</h5>
                 <h5>$42.00</h5>
               </div>
             </div>
           </div>
       </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</div>
