.container_fqa-question span {
  font-size: 1.7rem;
  font-weight: 700;
  color: purple;
}
.container_fqa-question p {
  font-size: 1.6rem;
  color: gray;
  font-weight: 500;
}
.container_fqa-question {
  margin-bottom: 15px;
}
.container_fqa-generel h3 {
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 50px;
}
.container_fqa-ask {
  background-color: whitesmoke;
  padding: 50px;
}
.container_fqa-ask h3 {
  margin-bottom: 50px;
  font-size: 3rem;
}
.container_fqa-ask form button {
  background-color: #fb2e86;
}
form input {
  font-size: 1.6rem;
}
form textarea {
  font-size: 1.6rem;
}
form button {
  font-size: 1.6rem;
}
