<div class="container">
  <div class="row">
      <div class="col-xl-6 col-12-col-sm-12 col-lg-12">
          <div class="row container_fqa-generel">
              <h3>Generel Information</h3>
              <div class="col-xl-12 container_fqa-question">
                  <span>Eu dictumst cum at sed euismood condimentum?</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt sed tristique mollis vitae, consequat gravida sagittis.</p>
              </div>
              <div class="col-xl-12 container_fqa-question">
                  <span>Magna bibendum est fermentum eros.</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt sed tristique mollis vitae, consequat gravida sagittis.</p>
              </div>
              <div class="col-xl-12 container_fqa-question">
                  <span>Odio muskana hak eris conseekin sceleton?</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt sed tristique mollis vitae, consequat gravida sagittis.</p>
              </div>
              <div class="col-xl-12 container_fqa-question">
                  <span>Elit id blandit sabara boi velit gua mara?</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt sed tristique mollis vitae, consequat gravida sagittis.</p>
              </div>
          </div>
      </div>

      <div class="col-xl-6 col-12-col-sm-12 col-lg-12 container_fqa-ask">
              <h3>Ask a Question</h3>
              <form class="row g-3">
                  <div class="col-md-12">
                    
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Your Name">
                  </div>
                  <div class="col-12">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Subject" >
                  </div>

                  <div class="col-12 col-xl-12">
                      <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="write some thing"></textarea>
                  </div>
                  <div class="col-12">
                      <button type="submit" class="btn btn-primary">Send email</button>
                  </div>
                  
                </form>
      </div>
  </div>
</div>