<div class="slider-home-page">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="inner-step">
            <img class="light-inner" src="../../../assets/image/image 32.png" width="387px" height="387px"/>
            <div class="inner-content">
                <p class="small-title">Best Furniture For Your Castle....</p>
                <p class="big-title">New Furniture Collection
                  Trends in 2020</p>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                    in phasellus non in justo.</p>
                  <button class="shop-now">Shop Now</button>
            </div>

            <div class="inner-image">
              <img class="chair-inner" src="../../../assets/image/Shell-Shaped-Armchair-Pink-Velvet-Fabric-One-Seater-Sofa-for-Living-Room 1.png" width="387px" height="387px"/>
              <img class="background-inner" src="../../../assets/image/Ellipse 60.png"/>
              <img class="background1-inner" src="../../../assets/image/Ellipse 60.png">
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="inner-step">
            <img class="light-inner" src="../../../assets/image/image 32.png" width="387px" height="387px"/>
            <div class="inner-content">
                <p class="small-title">Best Furniture For Your Castle....</p>
                <p class="big-title">New Furniture Collection
                  Trends in 2020</p>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                    in phasellus non in justo.</p>
                  <button class="shop-now">Shop Now</button>
            </div>

            <div class="inner-image">
              <img class="chair-inner" src="../../../assets/image/Shell-Shaped-Armchair-Pink-Velvet-Fabric-One-Seater-Sofa-for-Living-Room 1.png" width="387px" height="387px"/>
              <img class="background-inner" src="../../../assets/image/Ellipse 60.png"/>
              <img class="background1-inner" src="../../../assets/image/Ellipse 60.png">
            </div>
        </div>
      </div><div class="carousel-item">
        <div class="inner-step">
            <img class="light-inner" src="../../../assets/image/image 32.png" width="387px" height="387px"/>
            <div class="inner-content">
                <p class="small-title">Best Furniture For Your Castle....</p>
                <p class="big-title">New Furniture Collection
                  Trends in 2020</p>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                    in phasellus non in justo.</p>
                  <button class="shop-now">Shop Now</button>
            </div>

            <div class="inner-image">
              <img class="chair-inner" src="../../../assets/image/Shell-Shaped-Armchair-Pink-Velvet-Fabric-One-Seater-Sofa-for-Living-Room 1.png" width="387px" height="387px"/>
              <img class="background-inner" src="../../../assets/image/Ellipse 60.png"/>
              <img class="background1-inner" src="../../../assets/image/Ellipse 60.png">
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
