<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 container_aboutUs-c">
            <div class="row container_aboutUs-contact">
                <div class="col-xl-6 col-lg-12">
                    <img src="https://danang.huongnghiepaau.com/images/quantri/business-center-la-gi.jpg" alt="">
                </div>
                <div class="col-xl-6 col-lg-6 container_aboutUs-contact-descriptsion">
                    <h3>Know About Our Ecomerce
                      Business, History</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque ultrices mattis aliquam, malesuada diam est. Malesuada sem tristique amet erat vitae eget dolor lobortis. Accumsan faucibus vitae lobortis quis bibendum quam.</p>
                      <a href="#"><span>Contact us</span></a>
                  </div>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12 container_aboutus-f">
            <div class="row container_aboutus-feature">
              <div class="col-xl-12 container_aboutus-feature-title">
                  <h3>Our Features</h3>
              </div>
              <div class="col-xl-12">
                  <div class="row">
                      <div class="col-xl-3 activeIconAboutUs">
                          <div class="container_aboutus-icon">
                              <i class="bi bi-truck  icon-i-1"></i>
                              <p>Free Delivery</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
                          </div>
                      </div>

                      <div class="col-xl-3">
                          <div class="container_aboutus-icon">
                              <i class="bi bi-cash-stack icon-i-2"></i>
                              <p>100% Cash Back</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
                          </div>
                      </div>

                      <div class="col-xl-3">
                          <div class="container_aboutus-icon">
                              <i class="bi bi-award icon-i-3"></i>
                              <p>Quality Product</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
                          </div>
                      </div>

                      <div class="col-xl-3">
                          <div class="container_aboutus-icon">
                              <i class="bi bi-headset icon-i-4"></i>
                              <p>24/7 Support</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
                          </div>
                      </div>
                  </div>
              </div>

            </div>
        </div>
    </div>
</div>