.container_aboutUs-contact img {
  object-fit: cover;
  width: 100%;
  border-radius: 2%;
  height: 390px;
  box-shadow: 1px -1px 2px #dee2e6, -1em 13px 0em 0px #177fe8;
}
.container_aboutUs-c {
  margin-bottom: 50px;
}
.container_aboutus-f {
  margin-top: 50px;
}
.container_aboutUs-contact-descriptsion {
  padding: 30px 0 0 30px;
}
.container_aboutUs-contact-descriptsion h3 {
  font-size: 3.6rem;
}
.container_aboutUs-contact-descriptsion p {
  color: gray;
  font-size: 1.6rem;
}
.container_aboutUs-contact-descriptsion a {
  width: 145px;
  height: 44px;
  background-color: #fb2e86;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: 550;
  margin-top: 50px;
  border-radius: 3%;
  line-height: 40px;
  font-size: 1.4rem;
}
.container_aboutus-feature-title {
  justify-content: center;
  display: flex;
}
.container_aboutus-feature-title h3 {
  font-size: 2.6rem;
}
.container_aboutus-feature i {
  font-size: 5rem;
}

.container_aboutus-icon {
  padding: 20px;
  text-align: center;
}
.container_aboutus-icon p:nth-child(2) {
  font-weight: 600;
  font-size: 2.2rem;
}
.container_aboutus-icon p:nth-child(3) {
  font-size: 1.6rem;
  /* padding: 0 10px 0 10px; */
}
.icon-i-1 {
  color: rgb(245, 39, 24);
}
.icon-i-2 {
  color: rgb(12, 241, 31);
}
.icon-i-3 {
  color: rgb(197, 245, 24);
}
.icon-i-4 {
  color: rgb(245, 24, 227);
}
.activeIconAboutUs {
  border-bottom: 2px solid rgb(241, 241, 29);
}
