.container_login-form button {
  width: 100%;
  background-color: #fb2e86;
}
.container_login-form button:hover {
  background-color: #fb2e86;
}
.container_login-title,
.container_login-footer {
  text-align: center;
}
.container_login-title h3 {
  font-size: 2rem;
  font-weight: 700;
}
.container_login-title p {
  font-size: 1.5rem;
  color: gray;
}
.container_login-footer {
  margin-top: 15px;
}
.container_login-footer a {
  text-decoration: none;
}
form input {
  font-size: 1.4rem;
}
form button {
  font-size: 1.4rem;
}
.container_login {
  margin-top: 100px;
}
form a {
  font-size: 1.3rem;
}
.container_login-footer a {
  font-size: 1.3rem;
}
.container_login-content {
  background-color: whitesmoke;
  box-shadow: 3px 3px 2px #dee2e6, 0em -2px 0em 0px #dee2e6;
  border-radius: 2%;
}
