<div class="container container_login">
    <div class="row">
        <div class="col-xl-4 col-sm-12 col-12 offset-lg-3 col-lg-6 offset-xl-4 container_login-content">
            <div class="row  container_login-content-form">
                <div class="col-12 col-xl-12 container_login-title">
                    <h3>Login</h3>
                    <p>Please login using account detail bellow.</p>
                </div>

                <div class="col-xl-12 container_login-form">
                    <form class="row g-3">
                        <div class="col-md-12">
                          <input type="email" class="form-control"  placeholder="Your Name">
                        </div>
                        <div class="col-md-12">
                            <input type="password" class="form-control"  placeholder="Pass word">
                        </div>
                        <div class="col-md-6">
                            <a href="">Forgot your password?</a>
                        </div>
                        
                        <div class="col-12 col-xl-12">
                            <button type="submit" class="btn btn-primary ">Send email</button>
                        </div>
                        
                      </form>
                </div>
                <div class="col-12 col-xl-12 container_login-footer">
                   <a href="">Don’t have an Account?Create account</a>
                </div>
           
            </div>
           
            
        </div>
    </div>
</div>