/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
  line-height: 1.6rem; /* chieeuf cao cua chu */
}
@media (max-width: 1180px) and (min-width: 968px) {
  html {
    font-size: 56.25%;
    line-height: 1.6rem; /* chieeuf cao cua chu */
  }
}
@media (max-width: 968px) {
  html {
    font-size: 43.75%;
    line-height: 1.6rem; /* chieeuf cao cua chu */
  }
}
